.star {
  opacity: 0;
  display: inline-block;
}
.star-enter {
  opacity: 1;
}
.star-enter-active {
  opacity: 1;
  transition: all 1000ms ease-out;
}
.star-exit {
  opacity: 0;
}
.star-exit-active {
  opacity: 0;
  transition: all 1000ms ease-in;
}
