.mission-card__wrapper {
  border-radius: 7px !important;
  margin-bottom: 10px;
  overflow: hidden;
  box-shadow: 1px 1px 10px -2px #999;
}
.mission-card {
  width: 100%;
}
.mission-card:hover > .mission-card__show-button {
  text-decoration: underline;
}
.mission-card__expansion-panel {
  border-radius: 10px;
}
.mission-card__show-button {
  color: #1e66fb;
  border: none;
  background-color: inherit;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  width: auto;
  overflow: visible;
  font: inherit;
  outline: none;
  cursor: pointer;
  text-decoration: inherit;

  float: right;
  font-size: 12px;
}

.mission-card__title {
  margin-bottom: 0;
}

.mission-card__about--title {
  margin: 10px 0 1px 0;
}

.mission-card__about--content {
  margin-bottom: 5px;
}

.mission-card__list {
  margin: 0;
  height: 25px;
}

.mission-card__list--item {
  display: inline-block;
  margin: 0;
}

.mission-card__list--item:not(:first-of-type) {
  color: #707070;
}

.mission-card__list--item:not(:first-of-type)::before {
  color: #d3d3d3;
  font-size: 10px;
  vertical-align: middle;
  content: "●";
  margin-left: 20px;
  margin-right: 20px;
}
